apiVersion: v2
name: invenio
appVersion: v12.0.0-beta.1.3
description: Turn-key research data management platform.
home: https://inveniosoftware.org/
icon: https://inveniosoftware.org/static/img/logo-invenio-white.svg
sources:
  - https://github.com/inveniosoftware/invenio-app-rdm
keywords:
  - digital-repository
  - institutional-repository
  - multimedia-library
  - multimedia-repository
type: application
version: 0.2.1
dependencies:
  - name: opensearch
    condition: opensearch.enabled
    repository: "oci://registry-1.docker.io/bitnamicharts"
    version: "0.9.1"
  - name: postgresql
    condition: postgresql.enabled
    repository: "oci://registry-1.docker.io/bitnamicharts"
    version: "14.0.1"
  - name: rabbitmq
    condition: rabbitmq.enabled
    repository: "oci://registry-1.docker.io/bitnamicharts"
    version: "12.9.3"
  - name: redis
    condition: redis.enabled
    repository: "oci://registry-1.docker.io/bitnamicharts"
    version: "18.12.0"
