{{- if .Values.invenio.init }}
apiVersion: batch/v1
kind: Job
metadata:
  name: install-init
  labels:
    app: install-init
    module: install
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-weight": "1"
{{/*    "helm.sh/hook-delete-policy": hook-succeeded*/}}
{{- $cmd := "invenio db init && invenio db create && invenio index init && invenio index queue init purge && invenio files location --default 'default-location'  $(invenio shell --no-term-title -c \"print(app.instance_path)\")'/data' && invenio roles create admin && invenio access allow superuser-access role admin" -}}
{{- range $usr, $pass := .Values.invenio.default_users -}}
  {{- $cmd = printf "%s && invenio users create --active --password=%s %s" $cmd $pass $usr -}}
{{- end -}}
{{- if and .Values.invenio.demo_data .Values.invenio.default_users -}}
  {{- $cmd = cat $cmd "&& invenio rdm-records demo" -}}
{{- end -}}

spec:
  template:
    spec:
      containers:
      - name: install-init
        image: {{ .Values.web.image }}
        command: [
          "/bin/bash",
          "-c",
          {{ $cmd | quote }}
        ]
        envFrom:
        - configMapRef:
            name: invenio-config
        env:
        - name: TZ
          value: "Europe/Zurich"
        - name: INVENIO_BROKER_URL
          valueFrom:
            secretKeyRef:
              name: {{ .Values.rabbitmq.secret_name }}
              key: CELERY_BROKER_URL
        - name: INVENIO_CELERY_BROKER_URL
          valueFrom:
            secretKeyRef:
              name: {{ .Values.rabbitmq.secret_name }}
              key: CELERY_BROKER_URL
        - name: INVENIO_SQLALCHEMY_DATABASE_URI
          valueFrom:
            secretKeyRef:
              name: {{ .Values.postgresql.secret_name }}
              key: SQLALCHEMY_DB_URI
        - name: INVENIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: invenio-secrets
              key: INVENIO_SECRET_KEY
        - name: INVENIO_SECURITY_LOGIN_SALT
          valueFrom:
            secretKeyRef:
              name: invenio-secrets
              key: INVENIO_SECURITY_LOGIN_SALT
        - name: INVENIO_CSRF_SECRET_SALT
          valueFrom:
            secretKeyRef:
              name: invenio-secrets
              key: INVENIO_CSRF_SECRET_SALT
        {{- if not .Values.search.enabled }}
        - name: INVENIO_SEARCH_HOSTS
          valueFrom:
            secretKeyRef:
              name: {{ .Values.search.secret_name }}
              key: INVENIO_SEARCH_HOSTS
        {{- end }}
        {{- if .Values.web.resources }}
        resources: {{- toYaml .Values.web.resources | nindent 10 }}
        {{- end }}
      restartPolicy: OnFailure
      {{- if .Values.web.imagePullSecret }}
      imagePullSecrets:
      - name: {{ .Values.web.imagePullSecret }}
      {{- end }}
{{- end }}
