---
apiVersion: v1
kind: Service
metadata:
  {{- with include "invenio.web.service.annotations" $ }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
  name: {{ include "invenio.fullname" . }}-web
  labels:
    {{- include "invenio.labels" . | nindent 4 }}
    app.kubernetes.io/component: web
spec:
  ports:
    - name: 'http'
      port: 80
      targetPort: 8080
  selector:
    app.kubernetes.io/component: web
  type: {{ .Values.web.service.type }}
